body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* My styles: */
.navbar-brand {
    margin-left: 13px;
}

.header-inquiry {
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    margin-bottom: 60px;
    font-size: 22px;
}

.header-reply {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 15px;
    font-weight: 600;
    font-size: 21px;
}

form {
    margin-left: 15px;
}

.btn-select {
    margin-left: 190px;
}

.inquiry-summary {
    color: mediumseagreen;
}

.table-bottomline {
    margin-bottom: 20px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.endnote {
    font-size: 13px;
    font-style: italic;
    color: dimgray;
    line-height: 75%;
}

.footer-line {
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
    border-top: 1px solid lightgray;
    color: gray
}

.validation-text {
    color: red;
    font-size: 15px;
}


.calc-result {
    padding-left: 10px;
}
.result-sum {
    padding-top: 15px;
}
.tax-sum {
    padding-top: 10px;    
    padding-bottom: 10px;
}
.net-sum {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
}