
@{
    ViewBag.Title = "Поиск и сравнение банковских услуг";
   
}

<h3 class="header-inquiry">Сервис оценки и подбора депозитов</h3>

<div class="row text-center mb-5">

    <div class="card ml-5" style="width: 12rem;">
        <div class="card-header"><h5><b>Депозиты</b></h5></div>
        <img class="card-img-top p-2 pt-3 pb-4" src="~/Images/deposits.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Подбор депозитов</p>
        </div>
        <div class="card-footer">
            <a href="/Home/AskDeposits" class="btn btn-sm btn-block btn-secondary">Перейти</a>
        </div>
    </div>

    <div class="card ml-5" style="width: 12rem;">
        <div class="card-header"><h5><b>Рейтинги</b></h5></div>
        <img class="card-img-top p-2 p-4" src="~/Images/rating.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Рейтинги банков</p>
        </div>
        <div class="card-footer">
            <a href="/Home/ShowRatings" class="btn btn-sm btn-block btn-secondary">Перейти</a>
        </div>
    </div>

    <div class="card ml-5" style="width: 12rem;">
        <div class="card-header"><h5><b>Калькулятор</b></h5></div>
        <img class="card-img-top p-2 p-4" src="~/Images/calculator.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Депозитный калькулятор</p>
        </div>
        <div class="card-footer">
            <a href="/Home/Calculator" class="btn btn-sm btn-block btn-secondary">Перейти</a>
        </div>
    </div>

</div>